@font-face {
  font-family: title;
  src: url(../fonts/AnchoGX.ttf);

}
.container {
  position: absolute;
  overflow: hidden;
  width: 336px;
  height: 280px;
    border: solid 1px gray;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

}

.image {
  width: 336px;
  height: 280px;
  position: absolute;

}
.text {
  font-family: 'title' ;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: 800;
  font-size: 40pt;
  color: #FF0000;

}
.text2 {
  font-family: 'title' ;
  position: absolute;
  left: 0px;
  top: 105px;
  font-weight: 600;
  font-size: 10pt;
  color: #FFFFFF;
}

.button {
  display: block;
  width: 50px;
  height: 20px;
  background: red;
  color: white;
  position: absolute;
  padding: 5px;
  left: 140px;
  top: 230px;


}
